@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  text-align: center;
}

.container {
  display: inline-block;
}

h1 {
  padding: 0px 0 10px 0;
  text-align: center;
}

h1, h2, table, button, input {
  font-family: "Roboto";
  letter-spacing: 1px;
}
label {
  font-family: "Roboto";
  font-size: 1em;
}

h2 {
  font-size: 1.1em;
  text-align: left;
}

span {
  font-family: "Raleway";
  font-size: 0.85em;
}

span {
  position: absolute;
  padding-top: 3px;
}


.check {
  display: inline-block;
  vertical-align: middle;
}
input:invalid {
  background-color: pink;
}

table {
  width: 100%;
  max-width: 600px;
  margin-top: 25px;
  border-spacing: 0;
  border: 2px solid #CCCCCC;
}

th {
  font-size: 1.1em;
  background-color: #3A3A3A;
  color: #FFD409;
}

th {
  width: 50%;
  max-width: 400px;
}

td:nth-child(even), th:nth-child(even) {
border-left: 2px solid #CCCCCC;
}
tr:nth-child(even) {
  background-color: #E2E2E2;
}

#error-message {
  display: block;
  color: red;
}

/**
* From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
